doctype html
html
  head
    title Darrell Pawson &mdash; Developer
    script(src='https://kit.fontawesome.com/cb12d1d572.js' crossorigin='anonymous')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Shizuru&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
  body.container
    block content
    script(src='https://unpkg.com/typewriter-effect@latest/dist/core.js')
    script(src='js/app.js')
