*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #2e6171;
  --color-primary-m-light: #3b7d91;
  --color-primary-m-dark: #234b57;

  --color-secondary: #556f7a;
  --color-secondary-m-light: #6f8d9b;
  --color-secondary-m-dark: #4b626c;

  --color-tertiary: #798086;
  --color-tertiary-m-light: #94999e;
  --color-tertiary-m-dark: #6b7176;

  --color-grey: #555;
  --color-grey-light: #777;
  --color-grey-dark: #333;

  --color-goddog: #60dd06;

  --color-white: #fff;

  /* Transition Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(1.5rem + 1.5vw);
  --default-font-size: 1.6rem;

  /* Section Padding */
  --padding-section: 8vh .5rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  color: var(--color-grey-dark);
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

.heading-primary {
  font-size: 6rem;
  color: var(--color-white);
}

.heading-secondary {
  font-size: 4rem;
}

.sub-heading {
  font-size: 5.5rem;
  color: var(--color-goddog);
}

.paragraph {
  font-size: calc(var(--default-font-size) + 0.8vw);
  color: var(--color-grey-dark);
}

.text-center {
  text-align: center;
}

.color-white {
  color: var(--color-white);
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 7.5px 10px rgba(0, 0, 0, 0.06),
    0 8.3px 12.9px rgba(0, 0, 0, 0.072), 0 10.8px 15.4px rgba(0, 0, 0, 0.086),
    0 10px 20px rgba(0, 0, 0, 0.12);
}

.btn {
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-size: calc(var(--default-font-size) + 0.2vw);
  color: var(--color-white);
  border-radius: 5rem;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 3rem;
  display: block;
}

.btn:hover,
.btn:active {
  transform: scale(0.8);
}

.btn--main {
  background-color: var(--color-goddog);
}

.next-link {
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: .5rem;
  color: var(--color-goddog);
  float: right;
  margin-right: .5rem;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end])
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

header#header {
  grid-column: container-start / container-end;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.header__main-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/* Hamburger */
.header__main-nav--hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: var(--color-goddog);
  z-index: 2;

  display: grid;
  place-items: center;

  animation: main-nav 1.5s;
}

/* Hamburger Lines */
.header__main-nav--hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color-white);

  display: grid;
  place-items: center;
  transition: all var(--transition-duration) ease-in-out;
}

/* hamburger Top and Bottom Lines */
.header__main-nav--hamburger > div::before,
.header__main-nav--hamburger > div::after {
  content: "";
  position: absolute;
  top: -1rem;
  width: 60%;
  height: inherit;
  background-color: inherit;
  z-index: 2;
}

.header__main-nav--hamburger > div::before {
  left: 0;
}

.header__main-nav--hamburger > div::after {
  top: 1rem;
  right: 0;
}

/* Rotating the Menu */
.header__main-nav
  input[type="checkbox"]:checked
  + .header__main-nav--hamburger
  > div {
  transform: rotate(135deg);
}

.header__main-nav
  input[type="checkbox"]:checked
  + .header__main-nav--hamburger
  > div::before {
  left: 0;
  top: 0;
  width: 100%;
  transform: rotate(270deg);
}

.header__main-nav
  input[type="checkbox"]:checked
  + .header__main-nav--hamburger
  > div::after {
  opacity: 0;
}

.header__main-nav
  input[type="checkbox"]:checked:hover
  + .header__main-nav--hamburger
  > div {
  transform: rotate(405deg);
}

/* Links Menu */
.header__main-nav--menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  overflow: hidden;

  display: grid;
  place-items: center;
}

.header__main-nav--menu > div {
  background-color: var(--color-primary);
  height: 200%;
  width: 200%;

  display: grid;
  place-items: center;

  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.header__main-nav--menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Displaying the Menu when the checkbox is checked */
.header__main-nav input[type="checkbox"]:checked ~ .header__main-nav--menu {
  visibility: visible;
}

.header__main-nav
  input[type="checkbox"]:checked
  ~ .header__main-nav--menu
  > div {
  transform: scaleX(1);
  /* transition-duration: 0.5s; */
}

.header__main-nav
  input[type="checkbox"]:checked
  ~ .header__main-nav--menu
  > div
  > div {
  opacity: 1;
}

.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
  z-index: 5;
  font-size: calc(1.5rem + 0.5vw);
  position: relative;
  text-decoration: none;
  color: var(--color-white);
  padding: 1rem 2rem;
}

.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scaleY(0);
  background-color: var(--color-goddog);
  transition: transform var(--transition-duration) ease-in-out;
}

.header__main-nav--menu ul li a:hover::before,
.header__main-nav--menu ul li a:active::before {
  transform: scaleY(1);
}

/*@@##$$%%^^&&**@@##$$%%^^&&**^^ About Text Section ^^**@@##$$%%^^&&**@@##$$%%^^&&*/
section#about-text-side  {
  background-color: var(--color-tertiary);
  grid-column: col-start 10 / center-end;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin: 6rem 0;
}

.about-text__content {
  transform: rotate(0.25turn);
}

.about-text__content--title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: white;
  letter-spacing: 0.2rem;
}

/*@@##$$%%^^&&**@@##$$%%^^&&**^^ Work Text Section ^^**@@##$$%%^^&&**@@##$$%%^^&&*/
section#work-text-side  {
  background-color: var(--color-tertiary);
  grid-column: center-start / col-end 1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  margin: 6rem 0;
}

.work-text__content {
  transform: rotate(0.25turn);
}

.work-text__content--title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: white;
  letter-spacing: 0.2rem;
}

section#about {
  grid-column: center-start / col-end 9;
  padding: var(--padding-section);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about--img {
  height: 100%;
  width: 100%;
  object-fit: center;
  border-radius: 5px;
  transition: all 0.3s;
}

.about--img:hover,
.about--img:active {
  transform: scale(1.02) rotate(6deg);

}

.about--text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  align-items: flex-end;
}

.about--text p{
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

section#work {
  grid-column: col-start 2 / center-end;
  padding: var(--padding-section);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.work--img {
  height: 100%;
  width: 100%;
  object-fit: center;
  border-radius: 5px;
}

.work--text h1.heading-secondary{
  position: relative;
  margin-bottom: 1rem;
}

.work--text h1.heading-secondary:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  width: 22%;
  height: 5px;
  background-color: var(--color-goddog);
}

.work--text p{
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 2rem;
  padding-left: 1rem;
}